html {
    font-size: 10px;
}

body {
    font-family: "Roboto", sans-serif;
}

.box {
    border: 1px solid red;
}

/* Header */

.header {
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo,
.footer__logo {
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header__form {
    position: relative;
}

.header__form_location {
    position: absolute;
    top: 1.5rem;
    left: 12.2rem;
}

.header__form-top {
    color: #1d1d1d;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
}

.header__form-top_left {
    width: 5.5rem;
    height: 4rem;
    margin-right: 1rem;
    padding-left: 1.2rem;
}

.header__form-top_right {
    width: 24rem;
    height: 4rem;
    margin-left: 1rem;
    padding-left: 4rem;
}

.header__form_txt {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 300;
    color: #626262;
}

.header_enter {
    margin-right: 3rem;
}

.header_button {
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 500;
    text-decoration: none;
    color: #1d1d1d;
    padding: 1.5rem 2rem;
    margin-right: 1rem;
    border: 1px solid #e0e0e0;
    transition: all 0.3s;
}

.header_button:hover {
    color: #fff;
    background-color: #262626;
}

.header_basket {
    vertical-align: middle;
    margin-left: 1.5rem;
    cursor: pointer;
}

/* Search */

.search {
    height: 8rem;
}

.search_rest {
    max-width: 111.1rem;
    margin: 0 auto;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
}

.search_rest-img {
    vertical-align: middle;
    margin-right: 1.5rem;
    cursor: pointer;
}

.search_rest-txt {
    font-size: 1.6rem;
    line-height: 8rem;
    font-weight: 400;
    color: rgba(98, 98, 98, 0.5);
}

/* Restaurants */

.restaurants_title {
    margin-left: 3rem;
    margin-top: 5rem;
    font-size: 2.2rem;
    line-height: 3.4rem;
    font-weight: 400;
    color: #1d1d1d;
}

.restaurants-item {
    width: 31.8rem;
    margin: 0 auto;
    transition: all 0.3s;
}

.restaurants-item:hover {
    background-color: rgba(117, 117, 117, 0.04);
}

.restaurants-img-photo {
    width: 31.8rem;
    height: 256px;
}

.restaurants-txt {
    text-align: left;
}

.restaurants-txt-head {
    color: #1d1d1d;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

.restaurants-txt-product {
    color: #626262;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
}

.restaurants-txt-wait {
    color: #1d1d1d;
    font-size: 1.3rem;
    line-height: 2.1rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

/* Footer */

.footer {
    background-color: #262626;
}

.footer__logo {
    max-width: 108rem;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer_logo_photo {
    margin-left: -3rem;
}

.footer__social {
    max-width: 111rem;
    margin: 0 auto;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__social_left,
.footer__social_middle,
.footer__social_right {
    width: 33%;
}

.footer__list {
    list-style: none;
}

.footer__link {
    margin-bottom: 2rem;
}

.footer__link a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.footer__link_social a {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.footer__form {
    position: relative;
    margin-bottom: 3rem;
}

.footer__select_before {
    position: absolute;
    top: 1.2rem;
    left: 2.5rem;
}

.footer__select {
    color: #fff;
    width: 22.7rem;
    height: 4rem;
    padding-left: 5rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    border: 1px solid #3b3b3b;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/images/Arrow.png) 95% no-repeat #3b3b3b;
}

.footer__ubereats {
    display: block;
    text-decoration: none;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
}

.footer__ubereats_tag {
    color: #49a144;
}

.footer__facebook,
.footer__twitter,
.footer__instagram {
    margin-right: 2rem;
}

.footer__store {
    display: flex;
    justify-content: center;
    max-width: 111rem;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__app {
    margin-right: 3rem;
}

.footer__copyright {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer__copyright_list {
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
}

.footer__link_copyright {
    width: 33%;
}

.footer__link_copyright a {
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.footer__up {
    position: absolute;
    top: -1rem;
    right: -3rem;
    display: flex;
    width: 8rem;
    height: 8rem;
    background: #59bd5a;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}