html {
    font-size: 10px;
}

body {
    font-family: "Roboto", sans-serif;
}

.box {
    border: 1px solid red;
}

/* Header */

.header {
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo,
.footer__logo {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header__form {
    position: relative;
}

.header__form_location {
    position: absolute;
    top: 1.5rem;
    left: 12.2rem;
}

.header__form-top {
    color: #1d1d1d;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
}

.header__form-top_left {
    width: 5.5rem;
    height: 4rem;
    margin-right: 1rem;
    padding-left: 1.2rem;
}

.header__form-top_right {
    width: 24rem;
    height: 4rem;
    margin-left: 1rem;
    padding-left: 4rem;
}

.header__form_txt {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 300;
    color: #626262;
}

.header_button {
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 500;
    text-decoration: none;
    color: #1d1d1d;
    padding: 1.5rem 2rem;
    margin-right: 1rem;
    border: 1px solid #e0e0e0;
    transition: all 0.3s;
}

.header_button:hover {
    color: #fff;
    background-color: #262626;
}

.header_basket {
    vertical-align: middle;
    margin-left: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width:991px) {
    .header__form {
        display: none;
    }
}

@media screen and (max-width:575px) {
    .header_basket {
        display: none;
    }
}

/* Search */

.search {
    height: 8rem;
}

.search_rest {
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
}

.search_rest-img {
    vertical-align: middle;
    margin-right: 1.5rem;
    cursor: pointer;
}

.search_rest-txt {
    font-size: 1.6rem;
    line-height: 8rem;
    font-weight: 400;
    color: rgba(98, 98, 98, 0.5);
}

/* Restaurants */

.restaurants_title {
    margin-top: 5rem;
    font-size: 2.2rem;
    line-height: 3.4rem;
    font-weight: 400;
    color: #1d1d1d;
}

.restaurants-item {
    text-decoration: none;
    transition: all 0.3s;
}

.restaurants-item:hover {
    background-color: rgba(117, 117, 117, 0.04);
}

.restaurants__img {
    width: 100%;
    max-width: 100%;
}


.restaurants-txt-head {
    text-align: left;
    color: #1d1d1d;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

.restaurants-txt-product {
    color: #626262;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
}

.restaurants-txt-wait {
    color: #1d1d1d;
    font-size: 1.3rem;
    line-height: 2.1rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

/*
@media screen and (min-width:768px) and (max-width:991px) {
    
}
*/

/* Footer */

.footer {
    background-color: #262626;
}

.footer__logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__social {
    padding-top: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__form {}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__link {
    margin-bottom: 2rem;
}

.footer__link a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.footer__link_social a {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.footer__form {
    position: relative;
    margin-bottom: 3rem;
    width: 22.7rem;
}

.footer__select_before {
    position: absolute;
    top: 1.2rem;
    left: 2.5rem;
}

.footer__select_after {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.footer__select {
    cursor: pointer;
    width: 100%;
    color: #fff;
    height: 4rem;
    padding-left: 5rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    border: 1px solid #3b3b3b;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #3b3b3b;
}

.footer__ubereats {
    display: block;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
}

.footer__ubereats_tag {
    color: #49a144;
}

.footer__facebook,
.footer__twitter,
.footer__instagram {
    margin-right: 2rem;
}

.footer__store {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__app {
    margin-right: 3rem;
}

.footer__copyright {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer__copyright_list {
    display: flex;
    justify-content: space-around;
}

.footer__link {
    padding: 0;
}


.footer__link_copyright a {
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.footer__up {
    position: absolute;
    top: -1rem;
    right: -3rem;
    display: flex;
    width: 8rem;
    height: 8rem;
    background: #59bd5a;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
